@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font: 400 4.8vh 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

:root {
  --verde-escuro: #264653;
  --branco: #ffffff;
  --verde-água: #2a9d8f;
  --verde-neve: #b7e4c7;
}

.header {
  background-color: var(--verde-escuro);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-mob {
  display: none;
}

.container {
  margin: 0 160px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}

.header a {
  text-decoration: none;
  color: var(--branco);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--branco);
}

.navbar a {
  margin: 0 15px;
}

.ir-login {
  border: 1px solid #ffffff;
  padding: 10px 40px;
}

.titulo {
  color: var(--branco);
  width: fit-content;
  font-weight: 500;
}

.navbar-mob {
  display: none;
}

/* BANNER */

.banner {
  height: 95vh;
  padding-top: 80px;
  width: 100%;
  color: white;
  background: url("../assets/imgs/banner.jpg") no-repeat center;
  background-size: cover;
  background-size: cover;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  text-align: center;
}

.banner .container h2 {
  font-size: 5vh;
  font-weight: 400;
}

.banner .container p {
  text-align: center;
  font-size: 3vh;
}

.banner .container span {
  font-weight: 800;
}

/* SOBRE NÓS */
#sobreNos {
  padding: 150px 0;
}

.sobreNos-tudo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.texto-sobreNos {
  margin: 0 20px;
}

.img-sobreNos img {
  width: 400px;
}

.texto-sobreNos p {
  max-width: 500px;
}

/* PORQUE CONTRATAR A EMPRESA */

.escolha {
  background: #dbf1e3;
  background: linear-gradient(
    240deg,
    rgba(219, 241, 227, 1) 0%,
    rgba(237, 248, 241, 1) 19%,
    rgba(246, 252, 248, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 80px 0 100px 0;
}

.escolha h4 {
  font-size: 4vh;
  font-weight: 400;
}

.box img {
  width: 100px;
}

.box h4 {
  margin: 20px 0;
}

.escolha .container .boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 0;
}

.escolha p {
  text-align: center;
  max-width: 400px;
  font-size: 2.6vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}

/* FRASE */
#frase img {
  width: 100%;
  object-fit: cover;
}

.frase-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#frase p {
  position: absolute;
  z-index: 1;
  color: var(--branco);
  text-align: center;
  font: 400 4vh 'Open Sans', sans-serif;
  padding: 100px;
}

/* AVALIAÇÕES */
#avaliacoes {
  padding: 90px 0;
}

.caixas-avaliacoes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cada-avaliacao {
  width: 430px;
  background-color: var(--verde-água);
  color: var(--branco);
  padding: 20px 40px;
  border-radius: 30px;
  height: 500px;
  margin: 10px;
}

.info-avaliador {
  margin-bottom: 30px;
}

/* CONTATE-NOS */
#contato {
  padding: 70px 0;
  background-color: var(--verde-escuro);
}

#contato .container {
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1660px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.parte-um-contato {
  width: 100%;
}

.parte-dois-contato {
  width: 100%;
}

#contato h3 {
  color: var(--branco);
}

.img-contato {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.img-contato img {
  width: 100%;
  object-fit: cover;
}

.formulario-contato {
  margin-left: 60px;
}

.campo-contato {
  display: flex;
  flex-direction: column;
  color: var(--branco);
}

.campo-contato input,
.campo-contato textarea {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 0;
  width: 100%;
  outline: none;
  padding: 5px 10px;
}

.campo-contato label {
  margin-top: 10px;
}

.campo-contato input {
  height: 40px;
}

.campo-contato textarea {
  resize: none;
  height: 150px;
  padding: 10px;
}

.parte-dois-contato button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: var(--verde-neve);
  font: 400 16px "Open Sans", sans-serif;
  border-radius: 20px;
}

/* FOOTER */
#footer {
  background-color: var(--verde-escuro);
  color: #fff;
  font-size: 15px;
  padding: 20px 0;
  border-top: 1px solid #ffffff;
}

.footer-parte-um .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
  text-align: center;
}

#footer a {
  color: var(--branco);
}

.footer-parte-dois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-parte-dois span {
  font: 400 14px "Open Sans", sans-serif;
}

.footer-parte-dois p {
  font: 400 16px "Open Sans", sans-serif;
}

/* LOGIN */
#formulario-main {
  display: flex;
}

.esquerda {
  width: 55%;
}

.direita {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imagem-lateral img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.7);
}

.imagem-lateral {
  display: flex;
  justify-content: flex-end;
}

.voltarCadastro,
.voltarCadastro a {
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 15px;
  display: flex;
  color: var(--verde-escuro);
  align-items: center;
}

.voltarCadastro span {
  color: var(--verde-escuro);
}

.voltarCadastro i {
  font-size: 32px;
  margin-right: 10px;
}

.formulario-login {
  display: flex;
  flex-direction: column;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.formulario-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario-principal {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font: 400 50px "Open Sans", sans-serif;
}

#formulario-main span {
  color: var(--verde-escuro);
}

.formulario input {
  border: 1px solid #8692a6;
  padding: 10px;
  border-radius: 6px;
  font: 500 14px "Open Sans", sans-serif;
}

.formulario label {
  font: 500 16px "Open Sans", sans-serif;
  margin-top: 15px;
}

.parte-checkbox {
  margin-top: 10px;
}

.formulario button {
  color: white;
  font: 500 18px "Open Sans", sans-serif;
  border-radius: 6px;
  width: 380px;
  padding: 5px 10px;
  background-color: var(--verde-escuro);
  margin-top: 15px;
  cursor: pointer;
}

.formulario p {
  font: 500 16px "Open Sans", sans-serif;
}

.formulario select {
  font: 500 14px "Open Sans", sans-serif;
  border: 1px solid #8692a6;
  border-radius: 6px;
  background-color: white;
  padding: 10px;
}

.formulario option:hover {
  background-color: #008080;
}

.nao-cliente {
  margin-top: 50px;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1157/1157000.png");
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

@media screen and (max-width: 1269px) {
  .sobre2 {
    order: 1;
  }

  .sobreNos-tudo {
    width: 100%;
    margin: 50px 0;
    text-align: start;
    flex-wrap: wrap;
  }

  .texto-sobreNos {
    margin: 0;
  }

  .sobreNos-tudo .img-sobreNos img {
    width: 100%;
  }

  .cada-avaliacao {
    width: 350px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    margin: 0 32px;
  }

  /* HEADER */
  .header .navbar {
    display: none;
  }

  .navbar-mob {
    display: block;
  }

  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
  }

  .navbar-mob i {
    font-size: 30px;
    color: var(--branco);
  }

  .header .navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header .navbar {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #264653e6;
    position: absolute;
    top: 83px;
    left: 0px;
    height: 300px;
    width: 100%;
  }

  .header .navbar a {
    width: 100%;
    text-align: center;
    justify-self: center;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid var(--branco);
  }

  .header .navbar .ir-login {
    border-top: 1px solid var(--branco);
    border-bottom: 0;
  }

  /* SOBRE */
  .sobre2 {
    order: 1;
  }

  .banner .container p {
    font-size: 2.3vh;
  }

  .box img {
    width: 50px;
  }
}

@media screen and (max-width: 900px) {
  .esquerda {
    display: none;
  }

  #formulario-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
  }

  .ipt_digitar {
    width: 300px;
  }

  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formulario button {
    width: 7rem;
  }

}

@media screen and (max-width: 768px) {

  .frase-banner img {
    height: 70vh;
    object-fit: cover;
  }

  #frase .frase-banner p {
    padding: 20px;
  }

  #contato .container {
    display: flex;
    flex-wrap: wrap;
  }

  .formulario-contato {
    margin: 0;
  }

}

@media screen and (max-width: 360px) {
  .footer-parte-um .container {
    flex-direction: column;
    align-items: start;
  }

  #footer .footer-parte-um .navbar {
    flex-direction: column;
    margin: 0;
    align-items: start;
  }

  #footer .footer-parte-um .navbar a {
    margin: 0;
  }

}

